.navbar {
    margin: 1.5em;
    width:100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.5em;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.21), rgba(255, 255, 255, 0)) 0.5%;
}

.navbar-options{
    display: flex;
    flex-direction: row;
    justify-content: right;
    justify-items: center;
}

.menu{
    display: flex;
    flex-direction: row;
    padding-right: 14vw;
    justify-content: space-between;
    gap:2em;
}

.nav-link {
    margin-top: 1em;
}

.button-cont {
    display: flex;
    flex-direction: row;
    gap:1em;
    padding-left: 10vw;
    padding-right: 5vw;
}

.sign-up {
    color: white;
    border: 0.5px solid #ffffff38;
    border-radius: 20px;
    box-shadow: 0 3px 2px -1px rgba(255, 255, 255, 0.412);
}

button {
    color: white;
    background: transparent;
    display: inline-block;
    padding: 1em;
    height: fit-content;
}

.logo {
    width: 5em;
    height: 5em;
    padding:0;
    margin-left: 3vw;
    margin-right:2vw;
}