h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2vw;
    padding-bottom: 2vw;
    padding-top: 2vw;
    margin-top: 0;

    color: white;
}

.video-output-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-container {
    max-width: 800px;
    width: 100%;
    max-height: 600px;
    border: solid purple 5px;
}

video {
    transform: scaleX(1);
}
