h1 {
    text-align: center;
}

.video-output-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-container {
    max-width: 800px;
    width: 100%;
    max-height: 600px;
    border: solid purple 5px;
}

video {
    transform: scaleX(1);
}
